.comment
  background #fff
  &:before
    float left
    margin-right 0.5em

.l-comment
  margin-bottom 50px

.comment-title
  font-size 1.2em
  border-bottom 1px solid color-border
  font-weight normal
