<% if (theme.subscribe) { %>
<div class="l-widget widget">
  <h3 class="l-widget-title widget-title"><%= __('subscribe') %></h3>
  <ul class="l-widget-entry widget-entry l-widget-entry-subscribe">
    <% if (theme.subscribe.feed){ %>
      <li>
        <a href="<%- theme.subscribe.feed %>" class="l-feed-button feed-button"> Feed</a>
      </li>
    <% } %>
    <% if (theme.subscribe.facebook){ %>
      <li>
        <div class="fb-like" data-href="https://www.facebook.com/<%- theme.subscribe.facebook %>" data-height="26px" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
      </li>
    <% } %>
    <% if (theme.subscribe.twitter){ %>
      <li>
        <a href="https://twitter.com/<%- theme.subscribe.twitter %>" class="twitter-follow-button" data-show-count="horizontal" data-show-screen-name="false"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>
    <% } %>
  </ul>
</div>
<% } %>